body {
  background-color: rgba(0, 0, 0, 0.623);
}
.anuncio {
  margin: 0, auto;
  color: blue;
  text-align: center;
}

h1,
h2 {
  text-align: center;
  color: #ffffffd0;
}

#formulario {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
}

.item_formulario {
  margin-top: 10px;
  text-align: center;
  height: 3rem;
}

.funcion {
  margin: auto;
}

.boton {
  height: 3rem;
}
.datos {
  margin: auto;
  margin-bottom: 2rem;
  width: 80%;
}

.botones {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  text-align: center;
}
.container {
  width: 75%;
  margin: auto;
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  grid-template-rows: 2fr 2fr 2fr;
  gap: 0px 0px;
  grid-template-areas:
    "operatoria servicios"
    "operatoria servicios"
    "informacion total";
}
.operatoria {
  grid-area: operatoria;
  display: flex;
  flex-direction: column;
}
.servicios {
  grid-area: servicios;
  display: flex;
  flex-direction: column;
}
.info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  border: 2px black solid;
}

.error {
  margin-left: 3rem;
  font-size: 1.5rem;
  color: rgba(90, 0, 0, 0.479);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.459);
}

.total {
  background-color: rgba(0, 0, 0, 0.295);
  text-align: center;
  height: auto;
  width: 50%;
  margin: auto;
  color: white;
  border: 1px solid black;
}

.moneda_bandera {
  margin: 1.5rem;
  width: 100px;
  border: 1px solid black;
}

.monedas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.servicioCreado {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #00000048;
  border: 1px black solid;
  color: #ffffff;
  width: 50rem;
  margin: 0, auto;
}

.botonEliminar {
  position: relative;
  width: auto;
  background-color: rgba(0, 0, 0, 0.219);
  border: 1px solid #000000;
}

.servicio_info {
  width: auto;
}
